body {
  font-family: 'Roboto', sans-serif;
  background: #eae2b7;
  color: #003049;
}

.container {
  background: #fcbf49;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.card {
  background: #eae2b7;
  border: 1px solid #d62828;
  width: 300px;
}

